<header>
	<h1> Welcome Student</h1>
</header>
<form action="/homenew_student" method="POST">
<div style="padding-left: 100px;">
                <input type="checkbox" name="choice1" value="dosa">Dosa<br><br>
                <input type="checkbox" name="choice2" value="vada">Vada<br><br>
                <input type="checkbox" name="choice3" value="idli">Idli
            </div>
<input type="submit" name="submit_button" value="Add to Cart">
<input type="submit" name="submit_button" value="View Cart">      
<input type="submit" name="submit_button" value="Log out">
</form>