<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Welcome to our flask website!!</title>
    <h1 class="h1">Canteen System </h1>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='/main.css') }}">
</head>
<body>
<form action="/home" method="POST">
    <div class="logreg">
<input type="submit" name="submit_button" value="Log in" class="button">
<input type="submit" name="submit_button" value="Register" class="button">
        </div>

</body>
</form>
</html>