<form action="/register" method="POST">
<div class="register">
<div class="register-screen">
<div class="app-title">
<h1>Register</h1>
</div>
<div class="register-form">

				<input type="text" class="login-field" value="" placeholder="first name" name="first name">

				<input type="text" class="login-field" value="" placeholder="last name" name="last name">

				<input type="text" class="login-field" value="" placeholder="email" name="email">

				<input type="tel" class="login-field" value="" placeholder="number" name="number">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<div style="padding-left: 100px;">
                <input type="radio" name="choice" value="teacher" checked>Teacher<br><br>
                <input type="radio" name="choice" value="student">Student<br><br>
                <input type="radio" name="choice" value="student">Admin
            </div>
<input type="submit" value="Register" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>